* { padding:0; margin:0; outline:0; }
body {
        width: 100%;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size:12px;
	line-height:16px;
}
.shell { width: 90%; margin:0 auto;  background:#fff; }

#header {   height:104px;    margin-bottom: 20px; position:relative;}

img{
    max-width: 100%;
}
a:link 
{ 
 text-decoration:none; 
}
/*mobile petite resolution*/

@media screen and (max-width: 360px) {
    .shell {
        width:100%;
    }
    
    #header_background { height:52px; background:url(../images/header.gif); position:relative;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48); min-width: 285px;}
    #search_bar { height:52px; position:relative;    }
    #menu{
        display: inline-block;
        text-decoration: none;
        width: 45px;
    }
    #img_menu{
        width: 30px;
        padding-left: 10px;
        padding-top: 10px;
    }    

    #text_menu{
        padding-left: 5px;
        white-space: nowrap;
        font: normal 7px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #logo{
        display: inline-block;
        
    }
    #img_logo{
        padding-left: 10px;
        width: 75%;
    }  
    
    #right{
        list-style: none;
        float:right;
        padding: 15px 5px 0px 0px;
    }
    
    #right li {
        float: right;
    }
    
    #profil{
        display: inline-block;
        
    }
    #img_profil{
        width: 22px;
        padding-left: 10px;
    } 
    #img_profil:hover{
        width: 22px;
        padding-left: 10px;
        background: #ecf0f1;
    }  
    
    #coeur{
        display: inline-block;
        
    }
    #img_coeur{
        width: 22px;
        padding-left: 10px;
    }  
    #panier{
        display: inline-block;
        
    }
    #img_panier{
        width: 22px;
        padding-left: 10px;
    }  
    .text_right{
      display: none;   
    }
}


/*mobile mode portrait*/

@media screen and (min-width: 360px) and (max-width: 480px) {
    .shell {
        width:100%;
    }
    
    #header_background { height:52px; background:url(../images/header.gif); position:relative;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);     }
    #search_bar { height:52px; position:relative;    }
    #menu{
        display: inline-block;
        text-decoration: none;
        width: 45px;  
    }
    #img_menu{
        width: 30px;
        padding-left: 10px;
        padding-top: 10px;
    }    

    #text_menu{
        padding-left: 5px;
        white-space: nowrap;
        font: normal 7px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #logo{
        display: inline-block;
        
    }
    #img_logo{
        padding-left: 10px;
        width: 75%;
    }  
    
    #right{
        list-style: none;
        float:right;
        padding: 15px 5px 0px 0px;
    }
    
    #right li {
        float: right;
    }
    
    #profil{
        display: inline-block;
        
    }
    #img_profil{
        width: 22px;
        padding-left: 10px;
    } 
    #img_profil:hover{
        width: 22px;
        padding-left: 10px;
        background: #ecf0f1;
    }  
    
    #coeur{
        display: inline-block;
        
    }
    #img_coeur{
        width: 22px;
        padding-left: 10px;
    }  
    #panier{
        display: inline-block;
        
    }
    #img_panier{
        width: 22px;
        padding-left: 10px;
    }  
    .text_right{
      display: none;   
    }
}


/*mobile mode paysage*/

@media screen and (min-width: 480px) and (max-width: 600px){
    .shell {
        width:100%;
    }
    
    #header_background { height:52px; background:url(../images/header.gif); position:relative;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);}
    #search_bar { height:52px; position:relative;    }
    #menu{
        display: inline-block;
        text-decoration: none;
        width: 45px;
    }
    #img_menu{
        width: 30px;
        padding-left: 10px;
        padding-top: 10px;
    }    

    #text_menu{
        padding-left: 5px;
        white-space: nowrap;
        font: normal 7px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #logo{
        display: inline-block;
        
    }
    #img_logo{
        padding-left: 10px;
        width: 75%;
    }  
    
    #right{
        list-style: none;
        float:right;
        padding: 15px 5px 0px 0px;
    }
    
    #right li {
        float: right;
    }
    
    #profil{
        display: inline-block;
        
    }
    #img_profil{
        width: 22px;
        padding-left: 10px;
    } 
    #img_profil:hover{
        width: 22px;
        padding-left: 10px;
        background: #ecf0f1;
    }  
    
    #coeur{
        display: inline-block;
        
    }
    #img_coeur{
        width: 22px;
        padding-left: 10px;
    }  
    #panier{
        display: inline-block;
        
    }
    #img_panier{
        width: 22px;
        padding-left: 10px;
    }  

    .text_right{
      display: none;   
    }
}


/*tablette mode portrait*/

@media screen and (min-width: 600px) and (max-width: 768px){
    .shell {
        width:100%;
    }
    
    #header_background { height:64px; background:url(../images/header.gif); position:relative;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);}
    #search_bar { height:52px; position:relative;    }
    #menu{
        display: inline-block;
        text-decoration: none;
        width: 45px;
    }
    #img_menu{
        width: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }    

    #text_menu{
        padding-left: 12px;
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #logo{
        display: inline-block;
        
    }
    #img_logo{
        padding-left: 20px;
        width: 100%;
    }  
    
    #right{
        list-style: none;
        float:right;
        padding: 15px 5px 0px 0px;
    }
    
    #profil{
        display: inline-block;
        
    }
    #img_profil{
        width: 22px;
    } 
    .compte:hover{
        background: #ecf0f1;
    }  
    .panier:hover{
        background: #ecf0f1;
    }  
    
    .panier:hover a .text_right{
        color: #960101;
    }  
    
    .compte:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover{
  
        background: #ecf0f1;
    }  
    
    #coeur{
        display: inline-block;
        
    }
    #img_coeur{
        width: 22px;
    }  
    #panier{
        display: inline-block;
        
    }
    #img_panier{
        width: 22px;
    }  
    .text_right{
        display: block;
        
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #right li {
        float: right;
        text-align: center;
        width: 64px;
        margin-right: 6px;
        margin-top: -2px;
        padding: 2px;
    }
}

/*tablette 10 pouces (ipad) mode portrait*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .shell {
        width:100%;
    }
    
    #header_background { height:64px; background:url(../images/header.gif); position:relative;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);}
    #search_bar { height:52px; position:relative;    }
    #menu{
        display: inline-block;
        text-decoration: none;
        width: 45px;
    }
    #img_menu{
        width: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }    

    #text_menu{
        padding-left: 12px;
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #logo{
        display: inline-block;
        
    }
    #img_logo{
        padding-left: 20px;
        width: 100%;
    }  
    
    #right{
        list-style: none;
        float:right;
        padding: 15px 5px 0px 0px;
    }
    
    #profil{
        display: inline-block;
        
    }
    #img_profil{
        width: 22px;
    } 
    .compte:hover{
        background: #ecf0f1;
    }  
    .panier:hover{
        background: #ecf0f1;
    }  
    
    .panier:hover a .text_right{
        color: #960101;
    }  
    
    .compte:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover{
  
        background: #ecf0f1;
    }  
    
    #coeur{
        display: inline-block;
        
    }
    #img_coeur{
        width: 22px;
    }  
    #panier{
        display: inline-block;
        
    }
    #img_panier{
        width: 22px;
    }  
    .text_right{
        display: block;
        
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #right li {
        float: right;
        text-align: center;
        width: 64px;
        margin-right: 6px;
        margin-top: -2px;
        padding: 2px;
    }
}


/*tablette paysage(ipad), pc portable*/

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .shell {
        width:100%;
    }
    
    #header_background { height:64px; background:url(../images/header.gif); position:relative;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);}
    #search_bar { height:52px; position:relative;    }
    #menu{
        display: inline-block;
        text-decoration: none;
        width: 45px;
    }
    #img_menu{
        width: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }    

    #text_menu{
        padding-left: 12px;
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #logo{
        display: inline-block;
        
    }
    #img_logo{
        padding-left: 20px;
        width: 100%;
    }  
    
    #right{
        list-style: none;
        float:right;
        padding: 15px 5px 0px 0px;
    }
    
    #profil{
        display: inline-block;
        
    }
    #img_profil{
        width: 22px;
    } 
    .compte:hover{
        background: #ecf0f1;
    }  
    .panier:hover{
        background: #ecf0f1;
    }  
    
    .panier:hover a .text_right{
        color: #960101;
    }  
    
    .compte:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover{
  
        background: #ecf0f1;
    }  
    
    #coeur{
        display: inline-block;
        
    }
    #img_coeur{
        width: 22px;
    }  
    #panier{
        display: inline-block;
        
    }
    #img_panier{
        width: 22px;
    }  
    .text_right{
        display: block;
        
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #right li {
        float: right;
        text-align: center;
        width: 64px;
        margin-right: 6px;
        margin-top: -2px;
        padding: 2px;
    }
}


/*pc écran large*/ 

@media screen and (min-width: 1200px) {
    .shell {
        width:100%;
    }
    
    #header_background { height:64px; background:url(../images/header.gif); position:relative;    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.48);}
    #search_bar { height:52px; position:relative;    }
    #menu{
        display: inline-block;
        text-decoration: none;
        width: 45px;
    }
    #img_menu{
        width: 40px;
        padding-left: 10px;
        padding-top: 10px;
    }    

    #text_menu{
        padding-left: 12px;
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #logo{
        display: inline-block;
        
    }
    #img_logo{
        padding-left: 20px;
        width: 100%;
    }  
    
    #right{
        list-style: none;
        float:right;
        padding: 15px 5px 0px 0px;
    }
    
    #profil{
        display: inline-block;
        
    }
    #img_profil{
        width: 22px;
    } 
    .compte:hover{
        background: #ecf0f1;
    }  
    .panier:hover{
        background: #ecf0f1;
    }  
    
    .panier:hover a .text_right{
        color: #960101;
    }  
    
    .compte:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover a .text_right{
        color: #960101;
    }
    
    .favoris:hover{
  
        background: #ecf0f1;
    }  
    
    #coeur{
        display: inline-block;
        
    }
    #img_coeur{
        width: 22px;
    }  
    #panier{
        display: inline-block;
        
    }
    #img_panier{
        width: 22px;
    }  
    .text_right{
        display: block;
        
        white-space: nowrap;
        font: normal 10px proximnb;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        color: #ecf0f1;
    }
    
    #right li {
        float: right;
        text-align: center;
        width: 64px;
        margin-right: 6px;
        margin-top: -2px;
        padding: 2px;
    }
}